
body {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 63, 63);
    

}
.table {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1000px;
}
.audio {
    transform: rotate(90deg);
    position: absolute;
    left: 10%;
    z-index: 10;
    top: 200px;
}

.name {
    display: inline-block;
    position: absolute;
    border: 1px solid red;
    background-color: white;
    transition: 0.5s;
    padding-left: 5px;
}
.first {
    left: 25%;
    top: 300px;
    height: 30px;
}
.second {
    right: 20%;
    top: 300px;
    height: 30px;
}

input[type="text"]:focus {
    background-color: rgb(180, 255, 106);
    border-style: none;

}
.sub {
    position: absolute;
    top: 310px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1s;
}
.sub:hover {
    transition: 1s;
    transform: scale(1.2);
    background-color: rgb(180, 255, 106);
    border-radius: 50%;
}

.button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 340px;
    width: 150px;
    display: inline-block;
    opacity: 0;
    transition: opacity 2s;
    
}
.button:hover {
    transition: 2s;
    transform: scale(1.1);
    color: rgb(255, 0, 0);
    animation: spin 3s infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.button:before {
    position: absolute;
    content: "";
    top: -1px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: url(kubic.png) no-repeat center;
    background-size: 30px;
}
.button:after {
    position: absolute;
    content: "";
    top: -1px;
    left: 120px;
    width: 20px;
    height: 20px;
    background: url(kubic.png) no-repeat center;
    background-size: 30px;
}

.dice {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 2px solid white;
    position: absolute;
    border: none;
    
}
.dice_1 {
    top: 650px;
    left: 120px;
    background: url(dice.png) no-repeat;
    background-size: 330px;
    opacity: 0;
    transition: 2s ease-in, background-position 0.1s;
}
.dice_2 {
    top: 650px;
    left: 120px;
    background: url(dice.png) no-repeat;
    background-size: 330px;
    opacity: 0;
    transition: 2s ease-in, background-position 0.1s;
}
.dice_3 {
    top: 650px;
    left: 1200px;
    background: url(dice.png) no-repeat;
    background-size: 330px;
    opacity: 0;
    transition: 2s ease-in, background-position 0.1s;
}
.dice_4 {
    top: 650px;
    left: 1200px;
    background: url(dice.png) no-repeat;
    background-size: 330px;
    opacity: 0;
    transition: 2s ease-in, background-position 0.1s;
}

.dice_1_active {
    top: 350px;
    left: 420px;
    transform: rotate(380deg);
    opacity: 1;
}
.dice_2_active {
    top: 350px;
    left: 520px;
    opacity: 1;
    transform: rotate(-380deg);
}
.dice_3_active {
    opacity: 1;
    top: 350px;
    left: 1100px;
    transform: rotate(-480deg);
}
.dice_4_active {
    opacity: 1;
    top: 350px;
    left: 1000px;
    transform: rotate(-180deg);
}

.winner {
    display: none;
    z-index: 15;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 7px solid blue;
    width: 400px;
    height: 30%;
    top: 300px;
    background: white url(winner.png) no-repeat center;
    background-size: 400px;
    background-position: 0 0px;

}
.winner span {
    display: inline-block;  
    border: 2px solid black;
    position: absolute;
    left: 0; 
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color:rgb(0, 0, 0)


}